@import "tailwindcss";

:root {
    --primary: #E67E22;
    --primary-dark: #D35400;
    --primary-light: #F39C12;
    --secondary: #023e8a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f8fafc;
}

/* Hide scrollbar but keep scroll functionality */
html,
body,
* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}